/* 轮播图 */
.swiper img {
  width: 100%;
  vertical-align: top;
}

/* 菜单样式 */
.nav {
  padding-top: 13px;
  text-align: center;
  background-color: #fff;
  img {
    height: 48px;
  }
  p {
    margin: 8px 0 10px;
    font-size: 13px;
  }
}

// 租房小组
.group {
  overflow: hidden;
  padding: 0 10px;
  &-title {
    margin: 15px 0 15px 10px;
    h3 {
      font-size: 15px;
    }
    span {
      font-size: 14px;
      color: #787d82;
    }
  }
}
